{% extends 'Index.html' %}

{% block content %}

<div class="container" style="height: 100px"></div>

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">{{item.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="callaction">
    <div class="container">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="big-cta">
                <div class="cta-text">
                    <h2><span>{{item.name}}</span></h2>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<div class="container">

    <!-- Slider -->
    <div id="main-slider" class="flexslider col-lg-7 clearfix" style="padding-right: 15px">
        <ul class="slides">
            {% for photo in item.photo %}
            <li>

                <img src="{{photo.image}}" class="img-responsive"   alt=""/>

            </li>
            {% endfor %}
        </ul>
    </div>
    {{item.text|raw}}

</div>
<br>


<div class="container" >
    <div class="col-lg-4">
        <h4>Tренеры</h4>
				<span class="pullquote-left">
                    {% for item in item.trainer %}
                    <a href="/site/trainer?id={{item.Pk}}">{{item.name}}</a><br>
                    {% endfor %}
				</span>
    </div>
</div>


{% endblock %}