{% extends 'Admin/Blank.html' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/site/Students">Ученики</a></li>
    <li>Ученик</li>
</ol>
{% endblock %}



{% block header %}
Ученик
{% endblock %}

{% block content %}
<!---- Если новая--->
{% if  item.isNew %}
<div class="row">
    <form class="form-horizontal" id="form" method="post" enctype="multipart/form-data" action="/admin/site/StudentSave">

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Ф.И.О.</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Ф.И.О."
                       value="{{item.name}}">
            </div>
        </div>
        <footer class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить страницу{% endif
                %}
            </button>
            <a class="btn btn-default" href="/admin/site/?class={{class}}&name={{name}}">Выход</a>
        </footer>

    </form>
</div>

<!----- не новая --->
{% else %}


<div class="row">
    <form class="form-horizontal" id="form" method="post" enctype="multipart/form-data" action="/admin/site/StudentSave">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}


        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Ф.И.О.</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Ф.И.О."
                       value="{{item.name}}">
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">О ученике</label>

            <div class="col-sm-10">
                <t4:editor name="text">{{item.text}}</t4:editor>
            </div>
        </div>
        <!---foto-->
        <div class="form-group">

            <label for="text" class="col-sm-2 control-label">Фото ученика</label>

            <div class="col-sm-10">
                <a class="btn btn-primary" href="/LoadImg/?name=Ученик&id={{item.Pk}}&subclass=student"><i
                        class="glyphicon glyphicon-plus-sign"></i> Добавить фото</a><br>
                <table class="table table-striped table-hover">

                    <th class="col-sm-2">Фотография</th>
                    <th class="col-sm-2">Описание</th>
                    <th></th>
                    </tr>
                    {% for photo in item.photo %}
                    <tr>
                        <td>
                            <img class="img-responsive" src="{{ photo.image }}" width="80" alt="{{ photo.title }}"/>
                        </td>
                        <td>{{ photo.title }}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-sm" href="/admin/site/PhotoEdit/?id={{photo.Pk}}"><i
                                    class="glyphicon glyphicon-edit"></i></a>
                            <a class="btn btn-danger btn-sm" href="/admin/site/PhotoDelete/?id={{photo.Pk}}"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <hr>


        <footer class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить страницу{% endif %}
            </button>
            <a class="btn btn-default" href="/admin/site/Students">Выход</a>
        </footer>

    </form>
</div>
{% endif %}


{% endblock %}


