{% extends 'Admin/Blank.html' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Расписание</li>
</ol>
{% endblock %}

{% block header %}
Расписание
{% endblock %}



{% block content %}

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
       <th></th>
        <th class="text-center bg-info">
            Понедельник
        </th>
        <th class="text-center bg-info">
            Вторник
        </th>
        <th class="text-center bg-info">
            Среда
        </th>
        <th class="text-center bg-info">
            Четверг
        </th>
        <th class="text-center bg-info">
            Пятница
        </th>
        <th class="text-center bg-danger">
            Субота
        </th>
        <th class="text-center bg-danger">
            Воскресенье
        </th>
    </tr>
    </tbody>

    {% for item in items %}
    <tr>
        <th>{{item.services.title}}</th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="pn" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.pn}}</a></th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="vt" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.vt}}</a></th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="sr" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.sr}}</a></th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="cht" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.cht}}</a></th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="pt" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.pt}}</a></th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="sb" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.sb}}</a></th>
        <th class="text-center"><a href="#"   class="field" data-type="textarea" data-pk="{{item.Pk}}" data-name="vs" data-url="/admin/site/SetTimeTable" data-original-title="Введите дату начала и окончания работы">{{item.vs}}</a></th>
    </tr>
    {% endfor %}

</table>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">

    $(function () {


        $('.field').editable({
            mode: 'inline',
            value: '00:00'
        });
    })
</script>

{% endblock %}