{% extends 'Admin/Blank.html' %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/site/Trainers">Тренеры</a></li>
    <li>Тренер</li>
</ol>
{% endblock %}

{% block header %}
Тренер
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped">
    <tbody><tr>
        <th class="text-center bg-info">
            ПН
        </th>
        <td class="col-xs-2 text-center">
        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        7
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Объединение таблиц. Внешние ключи.»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        14
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Обзор MySQL»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        21
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Обзор Postgres - 2»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        28
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2"></td>
    </tr>
    <tr>
        <th class="text-center bg-info">
            ВТ
        </th>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        1
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        8
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        15
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/6.html">
                <span class="text-danger">20:00</span>
                Интенсив «PHP: введение в профессию»,
                урок «PHP: быстрый старт»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        22
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/6.html">
                <span class="text-danger">20:00</span>
                Интенсив «PHP: введение в профессию»,
                урок «Массивы. Взаимодействие с пользователем.»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        29
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/6.html">
                <span class="text-danger">20:00</span>
                Интенсив «PHP: введение в профессию»,
                урок «Классы и объекты. Введение в ООП.»
            </a>

            <hr>

        </td>
        <td class="col-xs-2"></td>
    </tr>
    <tr>
        <th class="text-center bg-info">
            СР
        </th>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        2
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        9
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        16
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        23
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/webinars/25.html">
                <span class="text-danger">20:00</span>
                Вебинар «Работа с изображениями на PHP»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        30
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2"></td>
    </tr>
    <tr>
        <th class="text-center bg-info">
            ЧТ
        </th>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        3
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Нормальные формы. Индексы.»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        10
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Группировка и агрегатные функции»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        17
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Обзор Postgres - 1»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        24
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/4.html">
                <span class="text-danger">20:00</span>
                Интенсив «DBA: введение в профессию»,
                урок «Вместо заключения»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        31
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2"></td>
    </tr>
    <tr>
        <th class="text-center bg-info">
            ПТ
        </th>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        4
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        11
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        18
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/6.html">
                <span class="text-danger">20:00</span>
                Интенсив «PHP: введение в профессию»,
                урок «Переменные и значения. Типы данных. Операции.»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        25
                    </span>
            <div class="clearfix"></div>

            <hr>

            <a href="/sprints/6.html">
                <span class="text-danger">20:00</span>
                Интенсив «PHP: введение в профессию»,
                урок «Работа с файлами на сервере. Загрузка от клиента.»
            </a>

            <hr>

        </td>
        <td class="col-xs-2 text-center">
        </td>
        <td class="col-xs-2"></td>
    </tr>
    <tr>
        <th class="text-center bg-danger">
            СБ
        </th>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        5
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        12
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        19
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        26
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
        </td>
        <td class="col-xs-2"></td>
    </tr>
    <tr>
        <th class="text-center bg-danger">
            ВС
        </th>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        6
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        13
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        20
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
                                            <span class="label label-default pull-right" style="margin-bottom: 5px;">
                        27
                    </span>
            <div class="clearfix"></div>


        </td>
        <td class="col-xs-2 text-center">
        </td>
        <td class="col-xs-2"></td>
    </tr>
    </tbody></table>
{% endblock %}