<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <h5 class="widgetheading">{{item.title}}</h5>

            <address>{{item.address}}</address>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget">
            <h5 class="widgetheading">Контакты</h5>
            <p ><i class="glyphicon glyphicon-earphone"></i>&nbsp;{{item.phone}}</p>
            <a href="mailto:{{item.email}}">&nbsp;{{item.email}}</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget">
            <h5 class="widgetheading">Последняя тема в блоге:</h5>
            <a href="#">{{ blog.title}}</a>

            <a href="#"><h5  class="widgetheading text-center">Отзывы</h5></a>
        </div>
    </div>

</div>